* {font-family: "Verdana", serif; font-size: 10pt;}

body {
	columns:	360px;
}

div#main h1 {
	margin: 	1em 0em .5em 0em;
	letter-spacing:	0.1em;
}
div#main div {
	max-width:	360px;
	border:		1px solid black;
	border-radius:	8px;
	margin:		6px 2px;
	break-inside:	avoid;
}
/* Div Colors */
div.patient{		background-color: linen; 	color:	inherit;}
div.ice{		background-color: lightyellow; 	color:	inherit;}
div.Conditions{		background-color: honeydew; 	color:	darkgreen; }
div.Immunizations {	background-color: lightcyan; 	color:	darkblue; }
div.Hospitalizations {	background-color: lavenderblush;color:	darkorchid; }
div.Doctors {		background-color: aliceblue; 	color:	darkblue; }
div.Pharm{		background-color: bisque;	color:	sienna;}

img.portrait,img.image{
	float:		right;
	max-width:	100px;
	height:		auto;
	margin:		0.2em 0.2em 0px 0px;
	border:		1px solid blue;
}
img.image{
	max-width:	40px;
	transition:	transform .2s;
}
img.image:hover{
	transform: 	scale(2.5);
}
img.bloodtest{
	max-width:	360px;
	border:		1px solid black;
	border-radius:	8px;
	margin:		6px 2px;
}

div#main div p {
	margin:		2px 4px;
	padding:	0px 0px 0px 6.8em;
	text-indent:	-6.8em;
	background-color: transparent;
}

ul {
	margin:		2px 4px;
	padding:	0px;
	background-color: transparent;
}
li {
	list-style-type:none;
	font-weight:	bold;
}
li span {
	display:	inline-block;
	vertical-align:	text-top;
	font-weight:	normal;
}
li span:first-child {
	min-width:	5em;
	margin-right:	0.6em;
	text-align:	right;
	font-style:	italic;
}

::before {
	display:	inline-block;
	text-indent:	0em;
	width:		8em;
	font-size:	85%;
	font-weight:	bold;
	font-style:	italic;
	color:		green;
}
.name,.procedure {
	font-size:	130%;
}

[class^="address"]::before {content: "Address: ";}
[class^="condition"]::before {content: "Condition: ";}
[class^="date"]::before{content: "Date: "}
[class^="age"]::before{content: "Age: "}
[class^="weight"]::before{content: "Weight: "}
[class^="height"]::before{content: "Height: "}
[class^="insurance"]::before{content: "Insurance: "}
[class^="location"]::before{content: "Location: "}
[class^="phone"]::before {content: "Phone: ";}
[class^="surgeon"]::before {content: "Surgeon: ";}
[class^="specialty"]::before {content: "Specialty: "}
[class^="title"]::before{content: "Procedure: "}
[class^="race"]::before {content: "Race: ";}
[class^="status"]::before{content: "Status: "}
[class^="anesthesia"]::before{content: "Anesthesia: "}
[class^="dob"]::before {content: "DOB: ";}
[class^="sex"]::before {content: "Sex: ";}
[class^="note"]::before {content: "Note: ";}
[class^="phonetic"]::before {content: "Phonetic: ";}
[class^="preferred"]::before {content: "Preferred: ";}
[class^="relation"]::before {content: "Relationship: ";}
[class^="critical"]::before {content: "Critical Information: ";}
[class$="2"]::before {content: " ";}
[class^="critical"]{
	color:		red;
	font-style:	italic;
	font-weight:	bold;
}
[class^="age"]{
	font-style:	italic;
	font-weight:	bold;
	color:		green;
}
caption{
	font-size:	70%;
	font-stretch:	condensed;
	text-align:	left;
	padding-left:	2em;
}
table {
	max-width:	360px;
	border-collapse: collapse;
	border:		1px solid  blue;
	caption-side:	bottom;
}
td{	font-size:	90%;}
tr:first-child{
	background-color: royalblue;
	color:		white;
}
tr:nth-child(2n){
	background-color: rgb(200,200,255);
}
td:nth-child(n+3){
	text-align:	center;
}
div#menu{
	font-family:	verdana;
	font-size:	10pt;
	line-height:	12pt;
	display:	inline-block;
	left:		30px;
	position:	fixed;
	top:		0px;
	transition:	top .7s;
}
div#menu:hover{
	top:		0pt;
}
div#menu div:first-child{
	border:		1px solid black;
}
div#menu p {
	padding:	1pt 3pt;
	border-width:	0px;
	margin:		0px;
	background-color:lightskyblue;
	color:		darkslateblue;
}
div#menu a{
	color:		inherit;
	text-decoration:none;
}
div#menu div:last-child{
	text-align:	center;
}
div#menu div:last-child p{
	background-color: lightskyblue;
	border:		1px solid black;
	border-width:	0px 1px 1px 1px;
	translate:	0px -1pt;
	display:	inline-block;
	padding:	3px;
	border-radius:	0 0 7px 7px;
}
