<style>
* {font-size: 16pt;}
div#implants figure {float:left;width:30%;}

@media only screen and (max-width: 360px) {
 * {font-size: 10pt;}
 div#implants figure {
  float:left;
  width:80%;
 }
 div#hcr img {height:32px;width:auto;}
}
h1 {
 color:		darkBlue;
 margin:	0px 0px 5px 0px;
 padding:	4px;
 border-bottom:	1px solid darkBlue;
}

h3 {
 padding:	3px;
 margin:	2px;
 color:		darkgreen;
 font-size:	120%;
}

body > div {
 width:		100%;
 display:	table;
 float:		left;
 clear:		both;
 margin:	2px;
}

div {
 display:	inline-block;
 margin:	2px;
}

ul {padding: 0px 3px; margin: 2px 0px;}

ul#person {
 padding:	3px; 
 margin:	2px;
 border:	1px solid darkgreen;
 display:	inline-block;
 float:		left;
}

li {
 list-style-type:none;
 font-weight:	normal;
}

div.flexContainer{
 display:	flex;
 padding:	0px;
 flex-wrap:	wrap;
}
div#ice div.flexContainer>ul{
 width:		18.5em;
 background-color: cornsilk;
}
div#providers div.flexContainer>ul{
 width:		18em;
 background-color: aliceblue;
 border: 1px solid darkblue;
}
div#surgeries div.flexContainer>ul{
 color:		rgb(128,64,64);
 width:		22em;
 border:	1px solid darkred;
 background-color: rgba(255,230,230,0.10);
 margin-right:	4px;
}
div#patient>ul#person {
 font-size:	130%;
 background-color:ivory;
}

div.PERSON{
 font-size:	125%;
 width:		20em;
 text-align:	center;
 background-color:#eeeeee;
 color:		#333333;
 padding:	2px;
 border-width:	2px;
 border-style:	solid;
 border-radius: 10px;
 border-top-color:	#CCCCCC;
 border-right-color:	#333333;
 border-bottom-color:	#333333;
 border-left-color:	#CCCCCC;
 cursor:	pointer;
}
div.PERSON:active{
 border-top-color:	#333333;
 border-right-color:	#cccccc;
 border-bottom-color:	#cccccc;
 border-left-color:	#333333;
}
div.PERSON img{
 padding:	4px;
 width:		100px;
 vertical-align:middle;
 float:		left;
}
div.PERSON p{
 margin:	0px;
}
div.PERSON p:first-of-type{
 font-size:	150%;
 color:		blue;
}

div#ice {
 display:	block;
 clear:		left;
 padding:	0px;
}

div#patient li.name {font-size: 170%;color:blue;}
div#ice li.name{font-size: 130%;color: red;}
div#providers li.name{font-size: 120%;color: blue;}

div#criticalInfo {
 padding:	3px;
 border:	2px solid firebrick;
 font-size:	160%;
 background-color:yellow;
 color:		FireBrick;
 float:		left;
}
div#criticalInfo ul {
 padding:	0px;
 margin:	0px
}
div#criticalInfo li {
 font-weight:	normal;
 font-size:	75%;
 list-style-type:disc;
 margin-left:	20px;
}
div#hcr {
 padding:	3px;
 float:		left;
 width:		12em;
}
div#hcr img {
 float:		left;
 vertical-align:text-top;
}

div#links {
 color:		blue;
 position:	fixed;
 top:		2%;
 right:		2%;
 width:		9.5em;
 background-color: #d0d0f0;
 box-shadow:	5px 5px #b0b080;
}
div#links a {display: none;}
div#links:hover a {display: block;}
div#links a:link,
div#links a:visited,
div#links a:hover,
div#links a:active {
 color:		green;
 float:		left;
 clear:		left;
 padding-left:	0.5em;
 text-decoration: none; 
}

div#conditions div {
 border:	1px solid darkgreen;
 background-color: #eeffee;
 color:		green;
}
div#immunization div {
 border:	1px solid darkblue;
 background-color: rgba(192,192,255,0.25);
 color:		darkblue;
}
div#conditions div,div#immunization div{
 min-width:	20em;
 max-width:	20em;
}
div#conditions li,div#immunization li{
 padding:	1px 2px 1px 15px;
 margin:	0px;
}
div#conditions li:first-child,div#immunization li:first-child{
 padding-left:	3px;
 font-weight:	bold;
}
div#medicine iframe {
 margin:	2px;
 padding:	0px;
 border:	1px solid green;
 background-color: ivory;
 width:		7000px;
}
figure {
 float:		left;
 display:	inline-block;
 margin:	3px;
 padding:	0px;
 border:	1px solid blue;
 height:	auto;
 max-width:	400px;
 border-collapse: collapse;
}
figure img {width: 100%;}
figure figcaption {
 color:		white;
 background-color: darkgreen;
 clear:		left;
 font-size:	130%;
 text-align:	center;
 vertical-align:bottom;
 border-bottom:	1px solid blue;
 border-collapse: collapse;
}

::before {
 display:	inline-block;
 min-width:	5.7em;
 color:		green;
 font-style:	italic;
 font-size:	85%;
}
[class^="address"]::before {content: "Address: ";}
[class^="condition"]::before {content: "Condition: ";}
[class^="date"]::before{content: "Date: "}
[class^="location"]::before{content: "Location: "}
[class^="phone"]::before {content: "Phone: ";}
[class^="surgeon"]::before {content: "Surgeon: ";}
[class^="specialty"]::before {content: "Specialty: "}
[class^="title"]::before{content: "Procedure: "}
[class$="2"]::before {content: " ";}
.age::before {
 content:	"Age: ";
 min-width:	1px;
 padding-left:	1em;
}
.race::before {content: "Race: ";}
.workstatus::before{content: "Status: "}
.anesthesia::before{content: "Anesthesia: "}
.dob::before {content: "DOB: ";}
.sex::before {content: "Sex: ";}
.phonetic::before {content: "Phonetic: ";}
.preferredName::before {content: "Preferred: ";}
.relation::before {content: "Relation: ";}

body {padding: 0;margin: 0;}
table#labTable {
  font-family: "Verdana", serif;
  font-size:	8pt;
  white-space:	nowrap;
  margin:	0;
  border:	1px solid black;
  border-spacing: 0;
  table-layout: fixed;
  padding:	0;
}
table#labTable thead tr p {
  display:	inline-block;
  padding:	5px 0.4em 0px 0px;
  margin:	0px;
  float:	left;
  text-align:	center;
}
table#labTable td,
table#labTable th {
  border:	1px solid black;
  padding:	0.1em 0.2em;
}
table#labTable td {
 min-width:	3.4em;
 max-width:	3.4em;
 text-align:	right;
 white-space:	nowrap;
 overflow:	hidden;
}
table#labTable thead th,table#labTable thead td {
  padding:	2px;
  position:	sticky;
  top:		0;
  z-index:	2;
  background-color: lightgray;
  height:	8em;
  white-space:	nowrap;
}
table#labTable thead th > div {
  font-size:	160%;
}
table#labTable thead td:nth-child(n+2) > div {
  cursor:	pointer;
  width:	4em;
  font-weight:	bold;
  text-align:	center;
  transform:
    translate(-0.7em, 2em) 
    rotate(270deg);
}
table#labTable tbody td {
  padding:	2px 3px;
  text-align:	center;
}
table#labTable tbody th {
  text-align:	left;
  position:	relative;
  border:	1px solid black;
}
table#labTable thead th:first-child{
 position:	sticky;
 left:		0;
 z-index:	3;
}

table#labTable tbody th {
 position:	sticky;
 left:		0;
 background-color: white;
 z-index:	2;
  cursor: pointer;
}

table#labTable tbody tr th#panelName {
 border-right-color: transparent;
 font-weight:	bold;
 font-size:	150%;
 font-style:	italic;
 z-index:	1;
 cursor:	pointer;
 color:		blue;
}
table#labTable tbody tr td#panelName {
 border-left-color: transparent;
 background-color: white;
}
table#labTable tbody tr th span {
 float:		right;
 padding:	0px 0.25em;
 font-weight:	bold;
 color:		black;
} 
table#labTable tbody tr th#panelName span {
 float:		left;
} 
.low_color { color: blue;}
.high_color { color: red;}
.normal_color {color: inherit;}
.redCorner {
 background: linear-gradient(225deg, magenta 4px, transparent 4.1px);
 overflow:	hidden;
}

.medFlexContainer{
 display:   flex;
 flex-wrap: wrap;
 justify-content: space-between;
 background-color:transparent;
}
.medFlexContainer > li {
 list-style-type:none;
 margin:    0px;
 padding:   1px;
 color:     green;
}
.medFlexContainer > li:nth-child(-n+4){
 color:     white;
 background-color:green;
 text-align:    left;
}
.medFlexContainer > li:nth-child(5n+1){min-width: 39%;}
.medFlexContainer > li:nth-child(5n+2){min-width: 21%;}
.medFlexContainer > li:nth-child(5n+3){min-width: 18%;text-align:center;}
.medFlexContainer > li:nth-child(5n+4){min-width: 18%;text-align:center;}
.medFlexContainer > li:nth-child(5n+5){
 flex-basis:    100%;
 margin:    0px;
 padding:   0px;
 height:    0px;
 max-width: 100%;
}

